streamlit==1.49.1
pandas==2.3.1
numpy==2.3.1
scikit-learn==1.7.1
plotly==6.3.0 
Flask==3.1.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
extra-streamlit-components==0.1.81
hijri-converter==2.3.2.post1
holidays==0.81
xgboost==3.0.2

